<app-modal-pet></app-modal-pet>
<app-modal-customer-select-table [idPet]="id"></app-modal-customer-select-table>
<app-modal-update-file [image]="image" [id]="id"></app-modal-update-file>

<app-loading [loading]="loading"></app-loading>

<div class="row animated fadeIn fast" *ngIf="!loading">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-md-2">
            <h4 class="card-title">Mascotas</h4>
            <h5 class="card-subtitle">Total {{ totalCollection }}</h5>
          </div>
          <div class="col-md-5">
            <app-search-input placeholder="Buscar mascota"></app-search-input>
          </div>
          <div class="col-md-5">
            <button
              data-toggle="modal"
              data-target="#modalSavePet"
              class="btn btn-light text-themecolor btn-block"
            >
              <i class="fa fa-plus mr-2"></i>
              Registrar nueva mascota
            </button>
            <br />
            <button
              class="btn btn-light text-themecolor btn-block"
              (click)="this.charguePets(0)"
            >
              <i class="fa fa-eye mr-2"></i>
              Actualizar
            </button>
          </div>
        </div>
        <hr />

        <div class="table-responsive">
          <table class="table table-bordered table-hover">
            <thead>
              <tr>
                <th>Nombre</th>
                <th>Foto</th>
                <th>Cliente</th>
                <th>Raza</th>
                <th>Sexo</th>
                <th>Fecha de nacimiento</th>
                <th>Fecha de admición</th>
                <th>Estado</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of array">
                <td>{{ item.mascota }}</td>
                <td
                  data-toggle="modal"
                  data-target="#modalUpdateFile"
                  (click)="setImageInput(item.idMascota, item.imagen)"
                  style="cursor: pointer"
                >
                  <img
                    *ngIf="item.imagen"
                    [src]="item.imagen"
                    class="img-thumbnail"
                    style="width: 350px"
                  />
                  <span *ngIf="!item.imagen">No tiene imagen</span>
                </td>
                <td>
                  <button
                    data-toggle="modal"
                    data-target="#modalSelectCustomer"
                    class="btn btn-info"
                    *ngIf="!item.cliente"
                    (click)="setImageInput(item.idMascota, item.imagen)"
                  >
                    <i class="fa fa-plus mr-2"></i>
                    Seleccionar un cliente
                  </button>
                  <span *ngIf="item.cliente"> {{ item.cliente }} </span>
                </td>
                <td>{{ item.raza }}</td>
                <td>{{ item.sexo }}</td>
                <td>{{ item.nacimiento }}</td>
                <td>{{ item.createdDate }}</td>
                <td>{{ item.estado }}</td>
              </tr>
            </tbody>
          </table>
        </div>
        <button class="btn btn-secondary" (click)="changuePage(true)">
          Anterior
        </button>
        &nbsp;
        <button class="btn btn-secondary" (click)="changuePage(false)">
          Siguiente
        </button>
      </div>
    </div>
  </div>
</div>
