<app-modal-pet></app-modal-pet>
<app-modal-update-file [image]="image" [id]="id"></app-modal-update-file>

<app-loading [loading]="loading"></app-loading>
<app-search-input *ngIf="!loading"></app-search-input>

<div class="row animated fadeIn fast" *ngIf="!loading">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-8">
            <h4 class="card-title">Mascotas</h4>
            <h5 class="card-subtitle">
              Total de mascotas regitradas: {{ totalCollection }}
            </h5>
          </div>
          <div class="col-4">
            <div class="text-right">
              <button
                class="btn btn-light text-themecolor"
                data-toggle="modal"
                data-target="#modalSavePet"
              >
                <i class="fa fa-plus mr-2"></i>
                Registrar nueva mascota
              </button>
            </div>
          </div>
        </div>

        <div class="table-responsive">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th>Nombre</th>
                <th>Foto</th>
                <th>Cliente</th>
                <th>Raza</th>
                <th>Sexo</th>
                <th>Fecha de nacimiento</th>
                <th>Fecha de admición</th>
                <th>Estado</th>
                <th class="text-nowrap">Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of array">
                <td>{{ item.mascota }}</td>
                <td
                  data-toggle="modal"
                  data-target="#modalUpdateFile"
                  (click)="setImageInput(item.idMascota, item.imagen)"
                  style="cursor: pointer"
                >
                  <img
                    *ngIf="item.imagen"
                    [src]="item.imagen"
                    class="img-thumbnail"
                    style="width: 250px"
                  />
                  <span *ngIf="!item.imagen">No tiene imagen</span>
                </td>
                <td>{{ item.cliente }}</td>
                <td>{{ item.raza }}</td>
                <td>{{ item.sexo }}</td>
                <td>{{ item.nacimiento }}</td>
                <td>{{ item.createdDate }}</td>
                <td>{{ item.estado }}</td>
                <td class="text-nowrap text-center">
                  <a data-toggle="tooltip" data-original-title="Edit">
                    <i class="fa fa-pencil text-inverse m-r-10"></i>
                  </a>
                  <a data-toggle="tooltip" data-original-title="Close">
                    <i class="fa fa-close text-danger"></i>
                  </a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <button class="btn btn-secondary" (click)="changuePage(true)">
          Anterior
        </button>
        &nbsp;
        <button class="btn btn-secondary" (click)="changuePage(false)">
          Siguiente
        </button>
      </div>
    </div>
  </div>
</div>
