<div class="row animated fadeIn fast">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <p>Buscar</p>
        <input
          type="text"
          class="from-control"
          placeholder="Buscar mascota por nombre"
        />
      </div>
    </div>
  </div>
</div>

<div class="row animated fadeIn fast" *ngIf="loading">
  <div class="col-12">
    <div class="alert alert-info text-center" role="alert">
      <h4 class="alert-heading">Cargando</h4>
      <i class="fa fa-spin fa-refresh fa-2x"></i>
      <p class="mb-0">Espere</p>
    </div>
  </div>
</div>

<div class="row animated fadeIn fast" *ngIf="!loading">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-8">
            <h4 class="card-title">Mascotas</h4>
            <h5 class="card-subtitle">
              Total de mascotas regitradas: {{ totalCollection }}
            </h5>
          </div>
          <div class="col-4">
            <div class="text-right">
              <button
                class="btn btn-light text-themecolor"
                data-toggle="modal"
                data-target="#modalSavePet"
              >
                <i class="fa fa-plus mr-2"></i>
                Registrar nueva mascota
              </button>
            </div>
          </div>
        </div>

        <div class="table-responsive">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th>Nombre</th>
                <th>Foto</th>
                <th>Cliente</th>
                <th>Raza</th>
                <th>Sexo</th>
                <th>Fecha de nacimiento</th>
                <th>Fecha de admición</th>
                <th>Estado</th>
                <th class="text-nowrap">Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of array">
                <td>{{ item.mascota }}</td>
                <td>
                  <!--<div class="progress progress-xs margin-vertical-10">
                    <div
                      class="progress-bar bg-danger"
                      style="width: 35%; height: 6px"
                    ></div>
                  </div>-->
                  <img
                    style="border-radius: 100%; width: 50px"
                    src="https://www.purina.es/sites/default/files/styles/ttt_image_original/public/2021-02/BREED%20Hero%20Desktop_0139_chihuahua_smooth.webp?itok=GbvvvlYn"
                  />
                </td>
                <td>{{ item.cliente }}</td>
                <td>{{ item.raza }}</td>
                <td>{{ item.sexo }}</td>
                <td>{{ item.nacimiento }}</td>
                <td>{{ item.createdDate }}</td>
                <td>{{ item.estado }}</td>
                <td class="text-nowrap text-center">
                  <a href="#" data-toggle="tooltip" data-original-title="Edit">
                    <i class="fa fa-pencil text-inverse m-r-10"></i>
                  </a>
                  <a href="#" data-toggle="tooltip" data-original-title="Close">
                    <i class="fa fa-close text-danger"></i>
                  </a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <button class="btn btn-secondary" (click)="changuePage(true)">
          Anterior
        </button>
        &nbsp;
        <button class="btn btn-secondary" (click)="changuePage(false)">
          Siguiente
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Modal para registro de mascotas -->

<div
  class="modal fade"
  id="modalSavePet"
  tabindex="-1"
  aria-labelledby="modalSavePetLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Registro de mascotas</h4>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          ×
        </button>
      </div>
      <div class="modal-body">
        <form
          class="form-horizontal form-material"
          id="petform"
          (ngSubmit)="saveChange()"
        >
          <div class="form-group">
            <label for="recipient-name" class="control-label"> Nombre: </label>
            <input
              type="text"
              class="form-control"
              id="recipient-name"
              name="name"
              [(ngModel)]="petRequest.mascota"
            />
          </div>
          <div class="form-group">
            <label for="recipient-born" class="control-label">
              Nacimiento:
            </label>
            <input
              type="date"
              class="form-control"
              id="recipient-born"
              name="nacimiento"
              [(ngModel)]="petRequest.nacimiento"
            />
          </div>

          <div class="form-group">
            <div class="form-check">
              <input
                [(ngModel)]="petRequest.sexo"
                [value]="'M'"
                class="form-check-input"
                type="radio"
                name="sex"
                id="male"
              />
              <label class="form-check-label" for="male"> Macho </label>
            </div>
            <div class="form-check">
              <input
                [(ngModel)]="petRequest.sexo"
                [value]="'H'"
                class="form-check-input"
                type="radio"
                name="sex"
                id="female"
              />
              <label class="form-check-label" for="female"> Hembra </label>
            </div>
          </div>
          <div class="form-group">
            <label for="recipient-raza" class="control-label"> Raza: </label>
            <select
              class="form-control"
              name="raza"
              id="recipient-raza"
              [(ngModel)]="petRequest.raza"
            >
              <option [value]="item.id" *ngFor="let item of arrayRaces">
                {{ item.name }}
              </option>
            </select>
          </div>

          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-default waves-effect"
              data-dismiss="modal"
            >
              Cerrar
            </button>
            <button
              type="submit"
              class="btn btn-danger waves-effect waves-light"
            >
              Guardar cambios
            </button>
          </div>
        </form>
      </div>

      <div class="modal-footer" *ngIf="showAlert">
        <div class="alert {{ color }} alert-dismissible fade show" role="alert">
          <strong> {{ message }} </strong>
        </div>
      </div>
    </div>
  </div>
</div>
