<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Striped progress bar</h4>
        <div class="progress m-t-20">
          <div
            class="progress-bar bg-primary progress-bar-striped active"
            style="height: 15px"
            [style.width]="getP1"
            role="progressbar"
          ></div>
        </div>
        <div class="progress m-t-20">
          <div
            class="progress-bar bg-primary progress-bar-striped active"
            style="height: 15px"
            [style.width]="getP2"
            role="progressbar"
          ></div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-6">
    <app-booster (value)="progress1 = $event" [value]="progress1"></app-booster>
  </div>
  <div class="col-6">
    <app-booster (value)="progress2 = $event" [value]="progress2"></app-booster>
  </div>
</div>
