<app-loading [loading]="loading"></app-loading>

<div class="row animated fadeIn fast" *ngIf="!loading">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-md-2">
            <h4 class="card-title">Categorias</h4>
            <h5 class="card-subtitle">Total {{ totalCollection }}</h5>
          </div>
          <div class="col-md-5">
            <div class="text-right">
              <button
                (click)="save()"
                data-toggle="modal"
                class="btn btn-light text-themecolor btn-block"
              >
                <i class="fa fa-plus mr-2"></i>
                Registrar nueva categoria
              </button>
            </div>
            <br />
            <div class="text-right">
              <button
                class="btn btn-light text-themecolor btn-block"
                (click)="this.chargue(0)"
              >
                <i class="fa fa-eye mr-2"></i>
                Actualizar
              </button>
            </div>
          </div>
        </div>
        <hr />

        <div class="table-responsive">
          <table class="table table-bordered table-hover">
            <thead>
              <tr>
                <th>Nombre</th>
              </tr>
            </thead>

            <tbody>
              <tr *ngFor="let item of array">
                <td>{{ item.name }}</td>
              </tr>
            </tbody>
          </table>
        </div>

        <button class="btn btn-secondary" (click)="changuePage(true)">
          <i class="fa fa-arrow-left"></i>
          &nbsp; Anterior
        </button>
        &nbsp;
        <button class="btn btn-secondary" (click)="changuePage(false)">
          Siguiente &nbsp;
          <i class="fa fa-arrow-right"></i>
        </button>
      </div>
    </div>
  </div>
</div>
