<header class="topbar">
  <nav class="navbar top-navbar navbar-expand-md navbar-light">
    <div class="navbar-header">
      <a class="navbar-brand">
        <b>
          <img src="./assets/images/logo-icon.png" class="dark-logo" />
          <img src="./assets/images/logo-light-icon.png" class="light-logo" />
        </b>
        <span>
          <img src="./assets/images/logo-text.png" class="dark-logo" />
          <img
            src="./assets/images/logo-light-text.png"
            class="light-logo"
            alt="homepage"
          />
        </span>
      </a>
    </div>

    <div class="navbar-collapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a
            class="nav-link nav-toggler hidden-md-up waves-effect waves-dark"
            href="javascript:void(0)"
          >
            <i class="ti-menu"></i>
          </a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link sidebartoggler hidden-sm-down waves-effect waves-dark"
            href="javascript:void(0)"
          >
            <i class="ti-menu"></i>
          </a>
        </li>
        <li class="nav-item hidden-sm-down"></li>
      </ul>

      <ul class="navbar-nav my-lg-0">
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle waves-effect waves-dark"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            <img
              src="https://cdn-icons-png.flaticon.com/512/219/219986.png"
              class="profile-pic"
            />
          </a>
          <div class="dropdown-menu dropdown-menu-right animated fadeIn">
            <ul class="dropdown-user">
              <li>
                <div class="dw-user-box">
                  <div class="u-text">
                    <h4>{{ data.fullName }}</h4>
                    <p class="u-text">{{ data.email }}</p>
                    <hr />
                    <a
                      class="btn btn-rounded btn-danger btn-sm"
                      routerLink="my-profile"
                    >
                      Ver perfil
                    </a>
                  </div>
                </div>
              </li>
              <li role="separator" class="divider"></li>
              <li>
                <a routerLink="my-profile"><i class="ti-user"></i> Mi perfil</a>
              </li>
              <li role="separator" class="divider"></li>
              <li>
                <a routerLink="settings">
                  <i class="ti-settings"></i> Account Setting
                </a>
              </li>
              <li role="separator" class="divider"></li>
              <li>
                <button class="btn btn-danger ml-2" (click)="logOut()">
                  <i class="fa fa-power-off"></i> Cerrar sesión
                </button>
              </li>
            </ul>
          </div>
        </li>
      </ul>
    </div>
  </nav>
</header>
