<div class="card">
  <div class="card-body">
    <h3 class="card-title">Seleccione el tema</h3>
    <div class="r-panel-body">
      <ul id="themecolors" class="m-t-20">
        <li><b>Con el sidebar claro</b></li>
        <li *ngFor="let item of colors">
          <app-picker-color-item [color]="item"></app-picker-color-item>
        </li>

        <li class="d-block m-t-30"><b>Con el sidebar oscuro</b></li>
        <li *ngFor="let item of colorsDark">
          <app-picker-color-item [color]="item"></app-picker-color-item>
        </li>
      </ul>
    </div>
  </div>
</div>
