<app-modal-services [id]="id" [collection]="arrayServices"></app-modal-services>
<app-modal-add-appointment></app-modal-add-appointment>

<app-loading [loading]="loading"></app-loading>

<div class="container" *ngIf="!loading">
  <div class="card p-3">
    <h1>Citas registradas recientemente</h1>

    <div class="row">
      <div class="col-md-4 py-2">
        <button class="btn btn-secondary btn-block" (click)="chargueAll()">
          Arctualizar lista &nbsp; <i class="fa fa-list"></i>
        </button>
      </div>
      <div class="col-md-4 py-2">
        <button class="btn btn-secondary btn-block" (click)="changuePage()">
          Seguir cargando &nbsp; <i class="fa fa-arrow-right"></i>
        </button>
      </div>
      <div class="col-md-4 py-2">
        <button
          class="btn btn-secondary btn-block"
          data-toggle="modal"
          data-target="#modalCitaSave"
        >
          Agregar cita &nbsp; <i class="fa fa-plus"></i>
        </button>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4" *ngFor="let item of array; let i = index">
      <div class="card p-2 mb-2">
        <div class="card-header">Cita #{{ i + 1 }}</div>
        <div class="card-body">
          <div class="form-group">
            <strong>Fecha: &nbsp;</strong>
            {{ item.fecha }}
          </div>
          <div class="form-group">
            <strong>Description: &nbsp;</strong>
            {{ item.descripcion }}
          </div>
          <div class="form-group">
            <strong>Cliente: &nbsp;</strong>
            {{ item.cliente }}
          </div>
          <div class="form-group">
            <strong>Total a pagar: &nbsp;</strong>
            {{ item.total + " Soles." }}
          </div>
        </div>
        <div class="card-footer">
          <button
            (click)="setId(item.idCita)"
            class="btn btn-secondary"
            data-toggle="modal"
            data-target="#modalServicesByAppointment"
          >
            Ver servicios
          </button>
        </div>
      </div>
      <hr />
    </div>
  </div>
</div>
